#title{
    font-family: Bell MT;
    text-align: center;
    padding-bottom: 0.5cm;
    padding-top: 0.4cm;
}

#create_congress{
    font-family: Bell MT;
}

#cc_button{
    width: 100%;
}

#first_row{
    padding-bottom: 1cm;
}

#first_card{
    border-color: black;
}

#second_card{
    border-color: black;
}

#third_card{
    border-color: black;
    text-align: center;
}

#fourth_card{
    border-color: black;
    text-align: center; 
}

#fifth_card{
    border-color: black;
    text-align: center;
}

#create_button{
    width: 100%;
    margin-top: 1cm;
}

#join_congress{
    font-family: Bell MT;
}

#j_button{
    width: 100%;
}

#jc_card{
    margin-left: 25%;
    width: 50%;
    text-align: center;
    border-color: black;
}

#join{
    margin-top: 0.5cm;
}

#vote_proposal{
    font-family: Bell MT;
}

#v_button{
    width: 100%;
}

#vote_card{
    border-color: black;
}
